<div class="row">
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">First Name Primary</label>
        <input class="form-control" type="text" pInputText [(ngModel)]="editEmployee.firstNamePrimary"
            [style]="{width: '100%'}">
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">First Name Secondary</label>
        <input class="form-control" type="text" pInputText [(ngModel)]="editEmployee.firstNameSecondary"
            [style]="{width: '100%'}">
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2"> Code </label>
        <input class="form-control" type="text" pInputText [(ngModel)]="editEmployee.employeeCode"
            [style]="{width: '100%'}">
    </div>

    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Title</label>
        <input class="form-control" type="text" pInputText [(ngModel)]="editEmployee.employeeTitle"
            [style]="{width: '100%'}">
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Father Name Primary</label>
        <input class="form-control" type="text" pInputText [(ngModel)]="editEmployee.fatherNamePrimary"
            [style]="{width: '100%'}">
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Father Name Secondary</label>
        <input class="form-control" type="text" pInputText [(ngModel)]="editEmployee.fatherNameSecondary"
            [style]="{width: '100%'}">
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">BirthDate</label>
        <p-calendar inputId="basic" dateFormat="dd/mm/yy" [(ngModel)]="editEmployee.birthDate"
            [style]="{width: '100%'}" appendTo="body">
        </p-calendar>
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Town Of Birth</label>
        <select class="form-select" aria-label="Default select example" (change)="showSelectedTownOfBirth($event)">
            <option selected hidden>{{editEmployee.cityName}}</option>
            <option *ngFor="let type of cities" [value]="type.id">{{type.englishName}}</option>
        </select>
        <!-- <p-dropdown [options]="cities" [(ngModel)]="city" placeholder="Select Town"
            optionLabel="englishName" [showClear]="false" [style]="{width: '100%'}" appendTo="body"></p-dropdown>
        -->
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Country Of Birth</label>
        <select class="form-select" aria-label="Default select example" (change)="showSelectedCountryOfBirth($event)">
            <option selected hidden>{{editEmployee.countryName}}</option>
            <option *ngFor="let type of countries" [value]="type.id">{{type.englishName}}
            </option>
        </select>
    </div>

    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Martial Status</label>
        <select class="form-select" aria-label="Default select example" (change)="showSelectedmartialStatus($event)">
            <option selected hidden>{{editEmployee.martialStatusName}}</option>
            <option *ngFor="let type of martialStatus" [value]="type.id">{{type.namePrimary}}
            </option>
        </select>

    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Hiring Date</label>
        <p-calendar inputId="basic" dateFormat="dd/mm/YYYY" [(ngModel)]="editEmployee.hireDate"
            [style]="{width: '100%'}" appendTo="body">
        </p-calendar>
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Civil Identifier Number</label>
        <input class="form-control" type="text" pInputText [(ngModel)]="editEmployee.civilIdentifierNumber"
            [style]="{width: '100%'}">
    </div>

    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Religion</label>
        <select class="form-select" aria-label="Default select example" (change)="showSelectedreligion($event)">
            <option selected hidden>{{editEmployee.religionName}}</option>
            <option *ngFor="let type of religions" [value]="type.id">{{type.namePrimary}}
            </option>
        </select>

    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Full Name Primary</label>
        <input class="form-control" type="text" pInputText [(ngModel)]="editEmployee.fullNamePrimary"
            [style]="{width: '100%'}">
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Full Name Secondary</label>
        <input class="form-control" type="text" pInputText [(ngModel)]="editEmployee.fullNameSecondary"
            [style]="{width: '100%'}">
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Email</label>
        <input class="form-control" type="email" pInputText [(ngModel)]="editEmployee.email" [style]="{width: '100%'}">
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Private Email</label>
        <input class="form-control" type="email" pInputText [(ngModel)]="editEmployee.privateEmail"
            [style]="{width: '100%'}">
    </div>
    <div class="col-md-4 col-sm-6">
        <label class="mt-3 mb-2">Employee Status </label>
        <select class="form-select" aria-label="Default select example" (change)="showSelectedStatus($event)">
            <option selected hidden>{{editEmployee.employeeStatusName}}</option>
            <option *ngFor="let type of status" [value]="type.id">{{type.namePrimary}}</option>
        </select>
    </div>
</div>
<br>


<div class="d-flex justify-content-end w-100">
    <button pButton pRipple type="button" (click)="SaveEditEmployee()" label="Save" class="p-button-secondary"></button>
</div>