<div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployeePhone">
        <i class="pi pi-plus me-2"></i>
        <span>ADD</span>
    </button>
</div>
<p-table responsiveLayout="scroll" [value]="employeePhones">
    <ng-template pTemplate="header">
        <tr class="table-desc">
            <th>Phone Number</th>
            <th>Phone Type</th>
            <th class="text-center">Actions</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-phone>
        <tr class="table-desc">
            <td>{{phone.phoneNumber}}</td>
            <td>{{phone.phoneTypeName}}</td>
            <td class="d-flex justify-content-center align-items-center">
                <button class="btn user-btn btn-outline-secondary" title="edit" data-bs-toggle="modal"
                    data-bs-target="#editEmployeePhone" (click)="EditEmployeePhone(phone)"><i
                        class="pi pi-pencil"></i></button>
                &nbsp;&nbsp;

                <button class="btn user-btn btn-outline-danger" title="delete" (click)="DeleteEmployeePhone(phone)"><i
                        class="pi pi-trash"></i></button>
            </td>

        </tr>
    </ng-template>
</p-table>

<!-- ================================================ -->
<!-- add modal -->
<div class="modal fade right" id="addEmployeePhone" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content rounded-0 min-vh-100">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Add Emplyee Phone</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="mt-3 mb-2">Phone Number</label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedPhoneType($event)">
                            <option selected hidden>Select Phone Type</option>
                            <option *ngFor="let type of phonesTypes" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Phone Number</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployeePhone.phoneNumber"
                            [style]="{width: '100%'}">
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeAddModal data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="SaveEmployeePhone(closeAddModal)" class="btn btn-primary">Save </button>
            </div>
        </div>
    </div>
</div>

<!-- ================================================ -->
<!-- edit modal -->
<div class="modal fade right" id="editEmployeePhone" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content rounded-0 min-vh-100">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Edit Emplyee Phone</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="mt-3 mb-2">Phone Number</label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedPhoneType($event)">
                            <option selected hidden>{{editEmployeePhone.phoneTypeName}}</option>
                            <option *ngFor="let type of phonesTypes" [value]="type.id">{{type.namePrimary}}</option>
                        </select>

                    </div>
                    <div>
                        <label class="mt-3 mb-2">Phone Number</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editEmployeePhone.phoneNumber"
                            [style]="{width: '100%'}">
                    </div>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeEditModal data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="SaveEditEmployeePhone(closeEditModal)" class="btn btn-primary">Update                </button>
            </div>
        </div>
    </div>
</div>