<div class="sidebar min-vh-100 py-2 d-flex flex-column justify-content-between">
   <div>
      <div class="px-3 d-flex justify-content-center align-items-center">
         <img src="../../../../assets/images/logo-search-white.png" alt="">
         <div class="flex-column d-xl-flex d-none">
            <span class="text-white">Asset Management</span>
         </div>
      </div>
      <div class="py-2 cursor-pointer" [routerLink]="['/employee']" routerLinkActive="active">
         <a class="nav-link text-white gallery d-flex justify-content-start align-items-center">
            <i class=" pi pi-book me-2"></i> <span>Employees</span>
         </a>
      </div>


      <div class="py-2 cursor-pointer" [routerLink]="['/transportAsset']" routerLinkActive="active">
         <a class="nav-link text-white gallery d-flex justify-content-start align-items-center">
            <i class=" pi pi-list me-2"></i> <span> Transport Assets</span>
         </a>
      </div>
      <div class="py-2 cursor-pointer" [routerLink]="['/deviceAsset']" routerLinkActive="active">
         <a class="nav-link text-white gallery d-flex justify-content-start align-items-center">
            <i class=" pi pi-book me-2"></i> <span> Device Assets</span>
         </a>
      </div>

   </div>
   <div class="text-center h2">
      <!-- <button pButton pRipple type="button" label="Back" [routerLink]="['/home']" class="p-button-rounded p-button-secondary"></button> -->
      <!-- <i class=" pi pi-sign-out" style="font-size: 2rem; transform: scaleX(-1);"> </i> &nbsp;  -->
   </div>
</div>