<!-- <div class="">
  <div class="container login-wrapper">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-12 offset-md-1">
          <div class="wrapper_login">
            <div class="d-flex flex-column align-items-center">
              <img src="../../../../assets/images/logo2.png" width="80px" />
            </div>

            <ng-container>
              <h5 class="mt-3 mb-3" style="color: #0066a9">Register</h5>
              <form [formGroup]="UserForm" class="login-form" ngNativeValidate>
                <div class="form-group">
                  <label for="username"
                    >User Name <span class="color-red">*</span></label
                  >
                  <input
                    class="form-control"
                    id="username"
                    placeholder="Enter your UserName"
                    formControlName="UserName"
                  />
                  <span
                    style="color: red"
                    *ngIf="
                      UserForm.get('UserName').errors?.required &&
                      UserForm.get('UserName').touched
                    "
                  >
                    UserName is required
                  </span>
                </div>
                <br />
                <div class="form-group">
                  <label for="email">
                    Email <span class="color-red">*</span></label
                  >
                  <input
                    class="form-control"
                    id="email"
                    placeholder="Enter your Email"
                    formControlName="Email"
                  />
                  <span style="color: red">
                    <span *ngIf="UserForm.get('Email').errors?.email">
                      Invalid E-mail
                    </span>
                    <span
                      *ngIf="
                        UserForm.get('Email').errors?.required &&
                        UserForm.get('Email').touched
                      "
                    >
                      E-mail is required
                    </span>
                  </span>
                </div>
                <br />
                <div class="form-group">
                  <label for="password"
                    >Password<span class="color-red">*</span></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Password"
                    formControlName="Password"
                  /><br />
                  <span style="color: red">
                    <span *ngIf="UserForm.get('Password').errors?.pattern">
                      Password must be At least 8 characters in length -
                      including 1 Lowercase letter - 1 Uppercase letters- 1
                      Special characters - 1 digit 
                    </span>
                    <span
                      *ngIf="
                        UserForm.get('Password').errors?.required &&
                        UserForm.get('Password').touched
                      "
                    >
                    Password is required
                    </span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="Confirmpassword"
                    >Confirm password<span class="color-red">*</span></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    name="Confirmpassword"
                    id="Confirmpassword"
                    placeholder="Confirm password"
                    formControlName="ConfirmPassword"
                  /><br />
                  <span style="color: red">
                    <span *ngIf="(UserForm.get('ConfirmPassword').value != UserForm.get('Password').value) &&UserForm.get('ConfirmPassword').touched">
                      Password not match
                    </span>
                    <span
                      *ngIf="
                        UserForm.get('ConfirmPassword').errors?.required &&
                        UserForm.get('ConfirmPassword').touched
                      "
                    >
                      Confirm Password is required
                    </span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="companyName"
                    >Company Name<span class="color-red">*</span></label
                  >
                  <input
                    type="Text"
                    class="form-control"
                    name="companyName"
                    id="companyName"
                    placeholder="Company Name"
                    formControlName="NamePrimary"
                  /><br />
                  <span style="color: red"
                      *ngIf="
                        UserForm.get('NamePrimary').errors?.required &&
                        UserForm.get('NamePrimary').touched
                      "
                    >
                    Company Name is required
                    </span>
                </div>

                <button
                  type="submit"
                  [disabled]="UserForm.invalid"
                  class="btn btn-primary rounded-0 mt-4 btn-block w-100"
                  (click)="submit()"
                >
                  Register
                </button>
                <br />
              </form>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="min-vh-100 d-flex flex-column justify-content-center align-items-center row">
  <div class="col-xl-4 col-md-6 col-sm-8 col-10 container d-flex flex-column justify-content-center align-items-center">

    <div class="mb-3">
      <img src="../../../../assets/images/logo-search-blue.png" alt="" />
    </div>
    <form [formGroup]="UserForm" (ngSubmit)="submit()" class="bg-white w-100 p-4">
      <h1 class="h3 text-center">Register</h1>
      <label for="userName" class="d-block mt-3 mb-2">User Name</label>
      <input type="text" id="userName" formControlName="UserName" placeholder="Enter User Name"
        class="form-control py-2" />
      <label for="Email" class="d-block mt-3 mb-2">Email</label>
      <input type="text" id="Email" formControlName="Email" placeholder="Enter your Email" class="form-control py-2" />
      <label for="Password" class="d-block mt-3 mb-2">Password</label>
      <input type="password" id="Password" formControlName="Password" placeholder="Enter your Password"
        class="form-control py-2" />
      <label for="ConfirmPassword" class="d-block mt-3 mb-2">ConfirmPassword</label>
      <input type="password" id="ConfirmPassword" formControlName="ConfirmPassword" placeholder="Confirm Password"
        class="form-control py-2" />
      <label for="NamePrimary" class="d-block mt-3 mb-2">Company Name</label>
      <input type="text" id="NamePrimary" formControlName="NamePrimary" placeholder="Enter your Company Name"
        class="form-control py-2" />
      <div class="d-flex justify-content-between align-items-center my-4">
        <div class="d-flex flex-column forgetpassword">
          <p class="mb-0 cursor-pointer" routerLink="/login">Have an Account</p>
        </div>
        <button [disabled]="UserForm.invalid" type="submit" class="btn bg-default text-white rounded-pill">Log
          In</button>
      </div>
    </form>
    <p class="text-gray my-2">Having Trouble? <span class="text-default ms-1">Get Help</span></p>
  </div>
</div>