<div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPayroll">
        <i class="pi pi-plus me-2"></i>
        <span>ADD</span>
    </button>
</div>
<div class="overflow-auto my-3">
    <p-table [value]="payRolls" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr class="table-desc">
                <th>Transportation Precentage</th>
                <th>Mobile Amount</th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="table-desc">
                <td>{{ item.transportationPrecentage }}</td>
                <td>{{ item.mobileAmount }}</td>
                <td class="d-flex justify-content-center align-items-center">
                    <button class="btn user-btn btn-outline-secondary me-2" title="edit" data-bs-toggle="modal"
                        data-bs-target="#editPayroll" (click)="EditPayroll(item)">
                        <i class="pi pi-pencil"></i>
                    </button>

                    <button class="btn user-btn btn-outline-danger" title="delete" (click)="DeletePayroll(item)">
                        <i class="pi pi-trash"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- ========================================= -->
<!-- Add Modal -->
<div class="modal fade right" id="addPayroll" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content min-vh-100">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee Payroll</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="mt-3 mb-2">Transportation Precentage</label>
                        <input class="form-control" type="text" pInputText
                            [(ngModel)]="addPayroll.transportationPrecentage" [style]="{ width: '100%' }" />
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Mobile Amount</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPayroll.mobileAmount"
                            [style]="{ width: '100%' }" />
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Food Amount </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPayroll.foodAmount"
                            [style]="{ width: '100%' }" />
                    </div>

                    <div>
                        <label class="mt-3 mb-2">Other Allowance </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPayroll.otherAllowance"
                            [style]="{ width: '100%' }" />
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Housing Percentage </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPayroll.housingPercentage"
                            [style]="{width: '100%'}">

                    </div>

                    <h3 class="my-3">GOSI Details</h3>
                    <div>
                        <label class="mt-3 mb-2">Organization Name </label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedOrganization($event)">
                            <option selected hidden>Select Organization</option>
                            <option *ngFor="let type of orgs" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Job Name </label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedJob($event)">
                            <option selected hidden>Select Job</option>
                            <option *ngFor="let type of jobs" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Position Title </label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedPosition($event)">
                            <option selected hidden>Select Position</option>
                            <option *ngFor="let type of positions" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Salary Basis </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPayroll.basicSalary"
                            [style]="{width: '100%'}">

                    </div>
                    <div>
                        <label class="mt-3 mb-2">GOSI Number </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPayroll.gosiNumber"
                            [style]="{width: '100%'}">

                    </div>

                    <div>
                        <label class="mt-3 mb-2">Annuities

                        </label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedAddAnnuities($event)">
                            <option selected hidden>Select Choose</option>
                            <option [value]="1">Yes</option>
                            <option [value]="0">No</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2"> Annuities Join Date </label>
                        <p-calendar inputId="basic" [(ngModel)]="addPayroll.annuitiesJoinDate"
                            [style]="{width: '100%'}"></p-calendar>

                    </div>
                    <div>
                        <label class="mt-3 mb-2">Gosireference Salary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPayroll.gosireferenceSalary"
                            [style]="{width: '100%'}">
                    </div>

                    <div>
                        <label class="mt-3 mb-2">Hazards</label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedAddHazards($event)">
                            <option selected hidden>Select Choose</option>
                            <option [value]="1">Yes</option>
                            <option [value]="0">No</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Calculate Gosi Method </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPayroll.calculateGosimethod"
                            [style]="{width: '100%'}">

                    </div>
                    <div>
                        <label class="mt-3 mb-2">Hazards JoinDate</label>
                        <p-calendar inputId="basic" [(ngModel)]="addPayroll.hazardsJoinDate" [style]="{width: '100%'}">
                        </p-calendar>
                    </div>

                    <div>
                        <label class="mt-3 mb-2">Employee Salary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPayroll.employeeSalary"
                            [style]="{width: '100%'}">
                    </div>

                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeAdd data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="SavePayroll(closeAdd)" class="btn btn-primary">Save </button>
            </div>
        </div>
    </div>
</div>

<!-- ================================================== -->
<!-- editModal -->
<div class="modal fade come-from-modal right" id="editPayroll" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content min-vh-100">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Edit Employee Payroll</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="mt-3 mb-2">Transportation Precentage</label>
                        <input class="form-control" type="text" pInputText
                            [(ngModel)]="editPayroll.transportationPrecentage" [style]="{ width: '100%' }" />
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Mobile Amount</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPayroll.mobileAmount"
                            [style]="{ width: '100%' }" />
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Food Amount </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPayroll.foodAmount"
                            [style]="{ width: '100%' }" />
                    </div>

                    <div>
                        <label class="mt-3 mb-2">Other Allowance </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPayroll.otherAllowance"
                            [style]="{ width: '100%' }" />
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Housing Percentage </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPayroll.housingPercentage"
                            [style]="{width: '100%'}">

                    </div>

                    <h3>GOSI Details</h3>
                    <div>
                        <label class="mt-3 mb-2">Organization Name </label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedOrganization($event)">
                            <option selected hidden>{{editPayroll.organizationName}} </option>
                            <option *ngFor="let type of orgs" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Job Name </label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedJob($event)">
                            <option selected hidden>{{editPayroll.jobName}} </option>
                            <option *ngFor="let type of jobs" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Position Title </label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedPosition($event)">
                            <option selected hidden>{{editPayroll.positionNam}} </option>
                            <option *ngFor="let type of positions" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>

                    <div>
                        <label class="mt-3 mb-2">Salary Basis </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPayroll.basicSalary"
                            [style]="{width: '100%'}">

                    </div>
                    <div>
                        <label class="mt-3 mb-2">GOSI Number </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPayroll.gosiNumber"
                            [style]="{width: '100%'}">

                    </div>

                    <div>
                        <label class="mt-3 mb-2">Annuities

                        </label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedEditAnnuities($event)">
                            <option selected hidden>{{annuitiesValue}} </option>
                            <option [value]="1">Yes</option>
                            <option [value]="0">No</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2"> Annuities Join Date </label>
                        <p-calendar inputId="basic" [(ngModel)]="editPayroll.annuitiesJoinDate"
                            [style]="{width: '100%'}"></p-calendar>

                    </div>
                    <div>
                        <label class="mt-3 mb-2">Gosireference Salary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPayroll.gosireferenceSalary"
                            [style]="{width: '100%'}">
                    </div>

                    <div>
                        <label class="mt-3 mb-2">Hazards</label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedEditHazards($event)">
                            <option selected hidden>{{HazardsValue}}</option>
                            <option [value]="1">Yes</option>
                            <option [value]="0">No</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Calculate Gosi Method </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPayroll.calculateGosimethod"
                            [style]="{width: '100%'}">

                    </div>
                    <div>
                        <label class="mt-3 mb-2">Hazards JoinDate</label>
                        <p-calendar inputId="basic" [(ngModel)]="editPayroll.hazardsJoinDate" [style]="{width: '100%'}">
                        </p-calendar>
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Employee Salary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPayroll.employeeSalary"
                            [style]="{width: '100%'}">
                    </div>

                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeEdit data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="SaveEditPayroll(closeEdit)" class="btn btn-primary">Update </button>
            </div>
        </div>
    </div>
</div>