<div class="mt-5">
  <h3>My Company</h3>
</div>

<form class="pe-3">
  <div class="row py-3">
    <div class="col-6">
      <label class="d-block fw-bold mt-3 mb-2">Primary Name</label>
      <input class="form-control" type="text" [(ngModel)]="editCompany.namePrimary"
        [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="col-4">
      <label class="d-block fw-bold mt-3 mb-2">Secondary Name</label>
      <input class="form-control" type="text" [(ngModel)]="editCompany.namesecondary"
        [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="col-4">
      <label class="d-block fw-bold mt-3 mb-2">Email</label>
      <input class="form-control" type="text" [(ngModel)]="editCompany.email" [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="col-4">
      <label class="d-block fw-bold mt-3 mb-2">HR Email</label>
      <input class="form-control" type="text" [(ngModel)]="editCompany.hrEmail" [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="col-6">
      <label class="d-block fw-bold mt-3 mb-2">Phone</label>
      <input class="form-control" type="text" [(ngModel)]="editCompany.phone" [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="col-6">
      <label class="d-block fw-bold mt-3 mb-2">logo Url</label>
      <input class="form-control" type="text" [(ngModel)]="editCompany.logoUrl" [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="col-6">
      <label class="d-block fw-bold mt-3 mb-2">Phone2</label>
      <input class="form-control" type="text" [(ngModel)]="editCompany.phone2" [ngModelOptions]="{standalone: true}" />
    </div>
    <div class="col-12">
      <label class="d-block fw-bold mt-3 mb-2">Description</label>
      <textarea class="form-control" [(ngModel)]="editCompany.description"
        [ngModelOptions]="{standalone: true}"></textarea>
    </div>
  <p-button icon="pi pi-check" (click)="saveCompany()" label="Save" styleClass="p-button-text"></p-button>
  </div>
</form>
