<div class="sidebar px-3 min-vh-100 py-5 d-flex flex-column justify-content-between">
    <div>

        <div>
            <h3>List Of Employees</h3>
        </div>
        <div class="d-flex justify-content-end mb-3 pe-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                <i class="pi pi-plus me-2"></i>
                <span>ADD</span>
            </button>
            <!-- <p-button (click)="showaddEmployee()" icon="pi 
                pi-plus" label="ADD"></p-button> -->
        </div>
        <div class="py-2 pe-3 w-100 overflow-auto">
            <p-table [value]="employees" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr class="table-desc">
                        <!-- <th>Code</th> -->
                        <th class="px-2">Primary Name</th>
                        <th class="px-2">Secondary Name</th>
                        <th class="px-2">Email</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-emp>
                    <!-- <td>{{type.id}}</td> -->
                    <tr id="table-desc">
                        <td [routerLink]="['/home/employeeDetails', emp.id]">{{emp.firstNamePrimary}}</td>
                        <td>{{emp.firstNameSecondary}}</td>
                        <td>{{emp.email}}</td>
                        <td class="d-flex justify-content-center align-items-center">
                            <!-- <button class="btn user-btn btn-outline-secondary" title="edit"
                                (click)="EditEmployee(emp)"><i class="pi pi-pencil"></i></button> &nbsp;&nbsp; -->
                            <button class="btn user-btn btn-outline-secondary me-2" title="edit"
                                [routerLink]="['/home/employeeDetails', emp.id]">
                                <i class="pi pi-pencil"></i>
                            </button>

                            <button class="btn user-btn btn-outline-danger" title="delete"
                                (click)="DeleteEmployee(emp)">
                                <i class="pi pi-trash"></i>
                            </button>
                        </td>

                    </tr>
                </ng-template>
            </p-table>

        </div>

    </div>
    <div class="text-center h2">
        <!-- <button pButton pRipple type="button" label="Back" [routerLink]="['/home']" class="p-button-rounded p-button-secondary"></button> -->
        <!-- <i class=" pi pi-sign-out" style="font-size: 2rem; transform: scaleX(-1);"> </i> &nbsp;  -->
    </div>
</div>

<!-- ========================================= -->
<!-- Add Modal -->
<div class="modal fade right" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content min-vh-100 rounded-0">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="">
                        <label class="mt-3 mb-2">First Name Primary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.firstNamePrimary"
                            [style]="{width: '100%'}">
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">First Name Secondary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.firstNameSecondary"
                            [style]="{width: '100%'}">
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2"> Code </label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.employeeCode"
                            [style]="{width: '100%'}">
                    </div>

                    <div class="">
                        <label class="mt-3 mb-2">Title</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.employeeTitle"
                            [style]="{width: '100%'}">
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Father Name Primary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.fatherNamePrimary"
                            [style]="{width: '100%'}">
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Father Name Secondary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.fatherNameSecondary"
                            [style]="{width: '100%'}">
                    </div>

                    <div class="">
                        <label class="mt-3 mb-2">GrandFather Name Primary</label>
                        <input class="form-control" type="text" pInputText
                            [(ngModel)]="addEmployee.grandFatherNamePrimary" [style]="{width: '100%'}">
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">GrandFather Name Secondary</label>
                        <input class="form-control" type="text" pInputText
                            [(ngModel)]="addEmployee.grandFatherNameSecondary" [style]="{width: '100%'}">
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">nationality</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.nationality"
                            [style]="{width: '100%'}">
                    </div>

                    <div class="">
                        <label class="mt-3 mb-2">Family Name Primary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.familyNamePrimary"
                            [style]="{width: '100%'}">
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Family Name Secondary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.familyNameSecondary"
                            [style]="{width: '100%'}">
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Gender</label>
                        <!-- <select class="form-select" [(ngModel)]="gendertype">
                            <option [value]="gender.id" *ngFor="let gender of genders">
                                {{gender.namePrimary}}
                            </option>
                        </select> -->
                        <p-dropdown [options]="genders" [(ngModel)]="gendertype" placeholder="Select Gender"
                            optionLabel="namePrimary" [showClear]="false" [style]="{width: '100%'}">
                        </p-dropdown>
                    </div>

                    <div class="">
                        <label class="mt-3 mb-2">BirthDate</label>
                        <p-calendar inputId="basic" [(ngModel)]="addEmployee.birthDate" [style]="{width: '100%'}">
                        </p-calendar>
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Town Of Birth</label>
                        <!-- <select class="form-select" [(ngModel)]="city">
                            <option [value]="city.id" *ngFor="let city of cities">
                                {{city.englishName}}
                            </option>
                        </select> -->
                        <p-dropdown [options]="cities" [(ngModel)]="city" placeholder="Select Town"
                            optionLabel="englishName" [showClear]="false" [style]="{width: '100%'}">
                        </p-dropdown>
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Country Of Birth</label>
                        <!-- <select class="form-select" [(ngModel)]="country">
                            <option [value]="country.id" *ngFor="let country of countries">
                                {{country.englishName}}
                            </option>
                        </select> -->
                        <p-dropdown [options]="countries" [(ngModel)]="country" placeholder="Select Country"
                            optionLabel="englishName" [showClear]="false" [style]="{width: '100%'}">
                        </p-dropdown>
                    </div>

                    <div class="">
                        <label class="mt-3 mb-2">Martial Status</label>
                        <!-- <select class="form-select" [(ngModel)]="mStatus">
                            <option [value]="martialStat.id" *ngFor="let martialStat of martialStatus">
                                {{martialStat.namePrimary}}
                            </option>
                        </select> -->
                        <p-dropdown [options]="martialStatus" [(ngModel)]="mStatus" placeholder="Select MartialStatus"
                            optionLabel="namePrimary" [showClear]="false" [style]="{width: '100%'}">
                        </p-dropdown>
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Hiring Date</label>
                        <p-calendar inputId="basic" [(ngModel)]="addEmployee.hireDate" [style]="{width: '100%'}">
                        </p-calendar>
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Civil Identifier Number</label>
                        <input class="form-control" type="text" pInputText
                            [(ngModel)]="addEmployee.civilIdentifierNumber" [style]="{width: '100%'}">
                    </div>

                    <div class="">
                        <label class="mt-3 mb-2">Religion</label>
                        <!-- <select class="form-select" [(ngModel)]="religion">
                            <option [value]="religion.id" *ngFor="let religion of religions">{{religion.namePrimary}}
                            </option>
                        </select> -->
                        <p-dropdown [options]="religions" [(ngModel)]="religion" placeholder="Select Religion"
                            optionLabel="namePrimary" [showClear]="false" [style]="{width: '100%'}"></p-dropdown>
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Full Name Primary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.fullNamePrimary"
                            [style]="{width: '100%'}">
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Full Name Secondary</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addEmployee.fullNameSecondary"
                            [style]="{width: '100%'}">
                    </div>

                    <div class="">
                        <label class="mt-3 mb-2">Email</label>
                        <input class="form-control" type="email" pInputText [(ngModel)]="addEmployee.email"
                            [style]="{width: '100%'}">
                    </div><div class="">
                        <label class="mt-3 mb-2">Password</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="empRegister.password"
                            [style]="{width: '100%'}" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                    </div>
                    <div class="">
                        <label class="mt-3 mb-2">Private Email</label>
                        <input class="form-control" type="email" pInputText [(ngModel)]="addEmployee.privateEmail"
                            [style]="{width: '100%'}">
                    </div>
                    <div class="">
                        <label class="mt-2">Employee Status </label>
                        <select class="form-select" aria-label="Default select example" (change)="showSelectedStatus($event)">
                            <option selected hidden>Select Employee Status </option>
                            <option *ngFor="let type of status" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeAdd data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="SaveEmployee(closeAdd)" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>