<div class="sidebar px-3 pe-2 min-vh-100 py-5 d-flex flex-column justify-content-between">
    <div>

        <div>
            <h3>List Of Jobs</h3>
        </div>
        <div class="row pe-3">

            <div class="col-md-3 col-4">
                <button type="button" pButton pRipple (click)="exportexcel2()" class="p-button-success mr-2"
                    icon="pi pi-download" label="Export Data" pTooltip="XLS" tooltipPosition="bottom"></button>

            </div>
            <div class="col-md-3 col-4">
                <button type="button" data-bs-toggle="modal" data-bs-target="#importFile" pButton pRipple
                    class="p-button-success mr-2" tooltipPosition="bottom" label="Import Data"
                    icon="pi pi-upload"></button>

            </div>
            <div class="col-md-3 d-md-block d-none">

            </div>
            <div class="col-md-3 col-4 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addJob">
                    <i class="pi pi-plus me-2"></i>
                    <span>ADD</span>
                </button>
            </div>
        </div>
        <div class="py-3 pe-3 w-100">
            <p-table responsiveLayout="scroll" [value]="jobs" id="excel-table">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th>Code</th> -->
                        <th>Primary Name</th>
                        <th>Secondary Name</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-job>
                    <tr id="table-desc">
                        <!-- <td>{{type.id}}</td> -->
                        <td>{{job.namePrimary}}</td>
                        <td>{{job.nameSecondary}}</td>
                        <td>
                            <button (click)="editJob(job)" data-bs-toggle="modal" data-bs-target="#editJob"
                                class="btn user-btn btn-outline-secondary" title="edit"><i
                                    class="pi pi-pencil"></i></button>
                            &nbsp;&nbsp;

                            <button class="btn user-btn btn-outline-danger" title="delete" (click)="deleteJob(job)"><i
                                    class="pi pi-trash"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="text-center h2">
        <!-- <button pButton pRipple type="button" label="Back" [routerLink]="['/home']" class="p-button-rounded p-button-secondary"></button> -->
        <!-- <i class=" pi pi-sign-out" style="font-size: 2rem; transform: scaleX(-1);"> </i> &nbsp;  -->
    </div>
</div>

<!-- <p-dialog header="Edit Position" [(visible)]="displayImportFile" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row">
        <div class="col-6">
            <label class="mt-3 mb-2" for="myfile">Select a file:</label>
            <input class="form-control" type="file" id="myfile" name="myfile" #fileName
                (change)="handleFileInput($event)"><br><br>
        </div>
        <div class="col-6">

        </div>

    </div>
    <br>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="importExcel(fileName)" label="Ok" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog> -->

<!-- addModal -->
<div class="modal fade right" id="addJob" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content rounded-0 min-vh-100">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Add Job</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="mt-3 mb-2">Primary Name</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addjob.namePrimary">
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Secondary Name</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addjob.nameSecondary">
                    </div>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeModal data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="saveJob(closeModal)" class="btn btn-primary">Save </button>
            </div>
        </div>
    </div>
</div>

<!-- editModal -->
<div class="modal fade right" id="editJob" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content rounded-0 min-vh-100">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Edit Job</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="mt-3 mb-2">Primary Name</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editjob.namePrimary">
                    </div>
                    <div>
                        <label class="mt-3 mb-2">Secondary Name</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editjob.nameSecondary">
                    </div>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeEdit data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="saveEditJob(closeEdit)" class="btn btn-primary">Update </button>
            </div>
        </div>
    </div>
</div>

<!-- importFile -->
<div class="modal fade right" id="importFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content rounded-0 min-vh-100">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Edit Job</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label class="mt-3 mb-2" for="myfile">Select a file:</label>
                    <input class="form-control" type="file" id="myfile" name="myfile" #fileName
                        (change)="handleFileInput($event)"><br><br>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeimport data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="importExcel(fileName,closeimport)" class="btn btn-primary">Upload
                </button>
            </div>
        </div>
    </div>
</div>