/* #table-desc  td {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15ch;
    white-space: wrap;
} */

div.table{
    width: 1000px;
}
#table-desc td{
    min-width: 180px;
    min-height: 82px;
}