<div class="sidebar px-3 min-vh-100 py-5 d-flex flex-column justify-content-between">
    <div class="px-1">
        <div>
            <h3>List Of Positions</h3>
        </div>
        <div class="row px-2">
            <div class="col-md-3 col-4 px-1">
                <button class="btn btn-success me-2 d-flex align-items-center" (click)="exportexcel2()">
                    <i class="pi pi-download me-2"></i>
                    <p class="mb-0">Export Data</p>
                </button>
            </div>
            <div class="col-md-3 col-4 px-1">
                <button data-bs-toggle="modal" data-bs-target="#importFile"
                    class="btn btn-success me-2 d-flex align-items-center">
                    <i class="pi pi-upload me-2"></i>
                    <p class="mb-0">Import Data</p>
                </button>
            </div>
            <div class="col-md-3 px-1 d-md-block d-none">

            </div>
            <div class="col-md-3 col-4 px-1 d-flex align-items-center justify-content-end pe-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPosition">
                    <i class="pi pi-plus me-2"></i>
                    <span>ADD</span>
                </button>
                <!-- <p-button (click)="showAddPosition()" icon="pi pi-plus" label="ADD"></p-button> -->
            </div>
        </div>
        <div class="py-3 pe-3 w-100 overflow-auto">
            <p-table [value]="positions" #dt1 dataKey="id" responsiveLayout="scroll" [rows]="5"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,25,50,75,100,125,150,175,200]"
                styleClass="p-datatable-gridlines" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" id="excel-table">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th>Code</th> -->
                        <th>Primary Name</th>
                        <th>Secondary Name</th>
                        <th>Organization Name</th>
                        <th>Job Name</th>
                        <th>Position Type</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-position>
                    <tr id="table-desc">
                        <!-- <td>{{type.id}}</td> -->
                        <td>{{position.namePrimary}}</td>
                        <td>{{position.nameSecondary}}</td>
                        <td>{{position.organizationName}}</td>
                        <td>{{position.jobName}}</td>
                        <td>{{position.defaultDataName}}</td>
                        <td class="d-flex align-items-center justify-content-center">
                            <button data-bs-toggle="modal" data-bs-target="#editPosition"
                                class="btn user-btn btn-outline-secondary me-2" title="edit"
                                (click)="EditPosition(position)"><i class="pi pi-pencil"></i></button> &nbsp;&nbsp;

                            <button class="btn user-btn btn-outline-danger" title="delete"
                                (click)="DeletePosition(position)"><i class="pi pi-trash"></i></button>
                        </td>

                    </tr>
                </ng-template>
            </p-table>

        </div>

    </div>
    <div class="text-center h2">
        <!-- <button pButton pRipple type="button" positionTypeslabel="Back" [routerLink]="['/home']" class="p-button-rounded p-button-secondary"></button> -->
        <!-- <i class=" pi pi-sign-out" style="font-size: 2rem; transform: scaleX(-1);"> </i> &nbsp;  -->
    </div>
</div>

<!-- =================================================== -->
<!-- addModal -->
<div class="modal fade right" id="addPosition" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content rounded-0 min-vh-100">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Add Position</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="mt-3 mb-2 d-block">Primary Name</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPosition.namePrimary">
                    </div>
                    <div>
                        <label class="mt-3 mb-2 d-block">Secondary Name</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="addPosition.nameSecondary">
                    </div>
                    <div>
                        <label class="mt-3 mb-2 d-block">Organization Name </label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedAddOrganization($event)">
                            <option selected hidden>Select Organization</option>
                            <option *ngFor="let type of orgs" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2 d-block">Job Name</label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedAddJob($event)">
                            <option selected hidden>Select Job</option>
                            <option *ngFor="let type of jobs" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2 d-block">Position Type</label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedAddPositionType($event)">
                            <option selected hidden>Select Position Type</option>
                            <option *ngFor="let type of positionTypes" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2 d-block">Position Parent</label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedAddPositionParent($event)">
                            <option selected hidden>Select Position Parent</option>
                            <option *ngFor="let type of positions" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeModal data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="SavePosition(closeModal)" class="btn btn-primary">Save </button>
            </div>
        </div>
    </div>
</div>

<!-- editModal -->
<div class="modal fade right" id="editPosition" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content rounded-0 min-vh-100">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Edit Position</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="mt-3 mb-2 d-block">Primary Name</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPosition.namePrimary">
                    </div>
                    <div>
                        <label class="mt-3 mb-2 d-block">Secondary Name</label>
                        <input class="form-control" type="text" pInputText [(ngModel)]="editPosition.nameSecondary">
                    </div>
                    <div>
                        <label class="mt-3 mb-2 d-block">Organization Name </label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedAddOrganization($event)">
                            <option selected hidden>{{editPosition.organizationName}}</option>
                            <option *ngFor="let type of orgs" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2 d-block">Job Name</label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedAddJob($event)">
                            <option selected hidden>{{editPosition.jobName}}</option>
                            <option *ngFor="let type of jobs" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2 d-block">Position Type</label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedAddPositionType($event)">
                            <option selected hidden>{{editPosition.defaultDataName}}</option>
                            <option *ngFor="let type of positionTypes" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                    <div>
                        <label class="mt-3 mb-2 d-block">Position Parent</label>
                        <select class="form-select" aria-label="Default select example"
                            (change)="showSelectedAddPositionParent($event)">
                            <option selected hidden>{{editPosition.parentName}}</option>
                            <option *ngFor="let type of positions" [value]="type.id">{{type.namePrimary}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeEdit data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="SaveEditPsition(closeEdit)" class="btn btn-primary">Update </button>
            </div>
        </div>
    </div>
</div>

<!-- importFile -->
<div class="modal fade right" id="importFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog my-0 me-0">
        <div class="modal-content rounded-0 min-vh-100">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title" id="exampleModalLabel">Import File</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label class="mt-3 mb-2 d-block" for="myfile">Select a file:</label>
                    <input class="form-control" type="file" id="myfile" name="myfile" #fileName
                        (change)="handleFileInput($event)"><br><br>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" #closeImport data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="importExcel(fileName,closeImport)" class="btn btn-primary">Upload
                </button>
            </div>
        </div>
    </div>
</div>